.slide-content {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slide-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 0px;
    z-index: 1;
    /* Asegura que la capa oscura esté sobre la imagen */
}

.slide-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
    position: relative;
    z-index: 0;
    /* Asegura que la imagen esté detrás de la capa oscura */
}

.slide-text {
    position: absolute;
    left: 50%;
    bottom: -4%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    width: 80%;
    font-weight: 600;
    z-index: 2;
}


.slide-text h2 {
    font-size: clamp(15px, 2.05vw, 30px);
    margin-bottom: 25px;
    font-style: normal;
}

.button-group {
    display: flex;
    gap: 26px;
    justify-content: center;
}

.button-group button {
    padding: 12px 40px;
    background-color: #6eb7ac00;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    cursor: pointer;
    font-size: clamp(14px, 1.38vw, 28px);
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.button-group button:hover {
    background-color: #6eb7ac;
    color: white;
}

@media (max-width: 768px) {
    .slide-text {
        width: 190%;
        bottom: -25%;
    }

    .slide-text h2 {
        margin-bottom: 15px;
        font-size: clamp(14.3px, 2.05vw, 30px);
    }

    .button-group {
        gap: 12px;
    }

    .button-group button {
        font-size: clamp(10.8px, 1.30vw, 28px);
        padding: 4px 18px;
    }
}