.fashion-ad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #300606;
  /* Adjust according to the desired background */
  padding: 0px 100px;
  height: 80vh;
}

.ad-content {
  max-width: 40%;
  margin-left: 20px;
  color: #ffffff;
}

.ad-content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.ad-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.buy-button {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}

.buy-button:hover {
  background-color: #ffffff;
  color: #000;
}

.ad-image {
  max-width: 50%;
}

.ad-image img {
  width: 100%;
  height: auto;
}


/*  */
.section-ad1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./img/chica.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Ajusta la posición horizontal del texto */
  border-radius: 0px;
  margin-top: 5px;

}

.ad-content {
  margin-left: 5%;
  color: #ffffff;
  /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
  max-width: 400px;
  /* Ajusta según la necesidad */

}

.ad-content h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.ad-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.ad-content button {
  padding: 10px 15px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 0px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}


.ad-button {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}

.ad-button:hover {
  background-color: #ffffff;
  color: #000;
}


/*  */
.section-ad3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./img/chico.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Ajusta la posición horizontal del texto a la derecha */
  border-radius: 0px;
  margin-top: 5px;


}

.ad-content-right {
  margin-right: 5%;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  max-width: 400px;
  /* Ajusta según la necesidad */
  text-align: right;
}

.ad-content-right h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.ad-content-right p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.ad-button {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}

.ad-button:hover {
  background-color: #ffffff;
  color: #000;
}