.footer {
    background-color: #B76E79;
    color: white;
    flex-shrink: 0;
}

.footerContent {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding-inline: 80px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footerSection {
    flex: 1;
    padding: 0px;
}

.legal {
    text-align: right;
}

.footerSection h3 {
    font-size: clamp(14px, 1.05vw, 15px);
    font-weight: bold;
    margin-bottom: 15px;
}

.footerSection ul {
    list-style: none;
    padding: 0;
}

.footerSection ul li {
    margin-bottom: 10px;
}

.footerSection ul li a {
    color: white;
    text-decoration: none;
    font-size: clamp(14px, 1.05vw, 15px);
    font-weight: 400;
}

.footerSectionFooterLogo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    margin-bottom: 20px;
}

.footerLogoImg {
    max-width: 200px;
    height: auto;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.socialIcons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footerBottom {
    display: flex;
    background-color: white;
    justify-content: space-between;
    color: #3F3F3F;
    padding: 20px;
    padding-inline: 80px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footerBottom p {
    font-size: clamp(10px, 1.05vw, 15px);
}

.socialIconImg {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.creditos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    gap: 20px;
}

.circle {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    display: inline-block;
    position: relative;
    /* Para posicionar el tooltip */
}

.circle:hover {
    background-color: #6EB7AC;
    border: white;
    cursor: pointer;
}

/* Mostrar la viñeta solo al hacer hover */
.circle:hover .tooltip {
    visibility: visible;
    opacity: 1;
    /* Hace la viñeta visible */
}

/* Inicialmente oculto pero ocupa espacio */
.tooltip {
    visibility: hidden;
    background-color: #6EB7AC;
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 240%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
}

/* Estilo para el triángulo */
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 9px;
    border-style: solid;
    border-color: #6EB7AC transparent transparent transparent;
}

/* Estilo específico para el primer tooltip */
.tooltip1::after {
    left: 46.6%;
}

.tooltip1 {
    left: 60%;
    width: 155px;
    /* Ajusta la posición horizontal */
}

/* Estilo específico para el segundo tooltip */
.tooltip2 {
    left: -400%;
    width: 200px;
    /* Posición centrada */
}

.tooltip2::after {
    left: 75%;
}


/* Estilo específico para el tercer tooltip */
.tooltip3 {
    left: -400%;
    width: 135px;
    /* Ajusta la posición horizontal */
}

.tooltip3::after {
    left: 87%;
}


@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-inline: 20px;
        text-align: center;
    }

    .footerSection {
        margin-bottom: 0px;
        padding: 0px;
        width: 100%;
    }

    .footerSectionFooterLogo {
        order: -1;
        padding-bottom: 40px;
    }

    .socialIcons {
        margin-top: 15px;
    }

    .cliente {
        text-align: left;
    }

    .footerBottom {
        padding: 20px;
    }
}