
@font-face {
  font-family: 'Palatino Linotype';
  src: url('/font/nombredelafuentebold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: 'Palatino Linotype', serif;
}
